.dashboard-header {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.home-tab{
  display: grid
}

.tabs{
  margin: auto;
}

h2{
  text-align: center  
}

.new-question-tab, .question-details{
  text-align: center;
}

.dashboard-header>.tabs {
  grid-column-start: 1;
  grid-row-start: 1;  
}

.dashboard-header>.app-title {
  grid-column-start: 2;
  grid-row-start: 1;
  margin: auto;
}

.dashboard-header>.user-component {
  grid-column-start: 3;
  grid-row-start: 1;  
  margin: auto;
}

.page-meat{
  width: auto;
  max-height: 500px;
  display: block;
}

.login>.user-component{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 40%;
  margin-right: 40%
}

.login>.user-component>span{
  margin: auto;
}

.question-preview {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  border: black; 
  border-width: 1px;
  border-style: dashed;
  margin: 5px 0
}

button {
  height: 40px;
  margin: auto 3px;
}

.logout-button{
  margin: 10px 
}

.icon-small{
  height:50px;
  width:50px;
  display: inline-block;
  vertical-align: middle;
  margin: 3px;
}


.icon-large{
  height:100px;
  width:100px;
  display: inline-block;
  vertical-align: middle;
  margin: 3px;
}

.leaderboard-user-panel {
  margin: 5px;
  border: black;
  border-width: 2px;
  border-style: dashed;
  grid-template-columns: 1fr 1fr;
  display: grid;
}
.leaderboard-user-panel>.user-component{
  margin-left: 40%;
}
.leaderboard-user-panel>.user-stats{
  margin-left: 10%;
}

.question-preview {
  margin: 5px;
  border: black;
  border-width: 2px;
  border-style: dashed;
  grid-template-columns: 1fr 3fr 1fr;
  display: grid;
}
.question-preview>.user-component{

  margin: auto 0 auto 20%;
}
.question-preview>.options{
  text-align: center
}